* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;

    overflow: hidden;
    background-color: #000;
}

form {
    z-index: 101;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);

    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

form > * {
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
}

form > input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

#video {
    position: absolute;

    /* property below this are changed by scale.js */
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: fill;
}